* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --bg-main: #faf0e5;
  --bg-secondary: #f8e7d5;
  --bg-card: #f3e0cf;

  --text-primary: #141311;
  --text-secondary: #4a4239;
  --text-muted: #7e756a;

  --accent-primary: #bd9c78;
  --accent-secondary: #c5baad;
}

body {
  background-color: var(--bg-main);
  overflow-y: auto;
}

/* GRID container =========================*/
.grid-container {
  display: grid;

  grid-template-areas:
    "header-top header-top"
    "navbar navbar"
    "hero hero"
    "reservation reservation"
    "carousel carousel"
    "footer footer"
    "header-bottom header-bottom";

  /* min-height: 100vh; */
}

/* FLEXBOX   header-top  =========================*/
.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 


  font-weight: 500;
  font-size: 12px;
  padding: 0px 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--accent-primary);
  height: 35px;
  position:fixed;
  width: 100%;
}
.outter-top {
  display: flex;
  flex-wrap: wrap;
  color: var(--bg-main);
}
.outter-top > img {
  margin-right: 5px;
  height: 20px;
  border-radius: 50%;
}
.outter-top a {
  color: var(--bg-main);
}
.inner-top {
  display: flex;
  flex-wrap: wrap;
}
.inner-top-item {
  display: flex;
  margin: 0px 10px;
  color: var(--bg-main);
}
.inner-top-item > img {
  margin-right: 5px;
  height: 20px;
  border-radius: 50%;
}

/* FLEXBOX   navbar =========================*/
.flex-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-secondary);
  position:fixed;
  width: 100%;
  padding: 0px 50px;
  box-shadow: 2px 5px 8px var(--text-muted);
  height: 70px;
  margin-top: 35px;
}
.logo img {
  height: 60px;
  position: relative;
  animation-name: myAnimation;
  animation-duration: 3s;
}
.inner-nav {
  display: flex;
  flex-wrap: wrap;
}

.inner-nav-item > li {
  padding: 10px 0px;
  margin: 10px 15px;
}

.inner-nav-item a {
  color: var(--text-primary);
  font-weight: 700;
}
.inner-nav-item a:hover {
  color: var(--accent-primary);
}

.inner-nav-item button {
  margin: -8px 15px;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 600;
  background-color: var(--text-primary);
  color: var(--bg-main);
  transition: transform 0.5s ease-in-out;
}
.inner-nav-item button:hover {
  transform: scale(1.1);
  box-shadow: 1px 0px 6px var(--text-primary);
}

#menu__toggle {
  position: absolute;
  left: -9999px; /* moves horizontal navbar off-screen */
}

/* GRID container =========================*/

.grid-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-auto-rows: auto;
  place-items: center;
  background-color: var(--bg-secondary);
  box-shadow: 1px 0px 6px var(--text-primary);
  margin-top:  70px;
}
.hero-item .hero-image-1 {
  height: 400px;
  animation: fadeIn 2s ease-in-out;
}
.hero-item .hero-image-2 {
  height: 80px;
  animation: fadeIn 3s ease-in-out;
}
.hero-item P {
  font-weight: 500;
  color: var(--text-muted);
  padding: 15px 25px;
  margin-right: 50px;
  animation: fadeIn 2s ease-in-out;
}
.hero-item button {
  margin: 0px 20px;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 15px;
  background-color: var(--text-primary);
  color: var(--bg-main);
  transition: transform 0.5s ease-in-out;
}
.hero-item button:hover {
  transform: scale(1.1);
  box-shadow: 1px 0px 6px var(--text-primary);
}

/* FLEXBOX reservation-form =========================*/
.reservation-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 50px 50px;
  padding: 35px 35px;
  background-color: var(--text-primary);
  border-radius: 10px;
  animation: fadeIn 2s ease-in-out;
}

.reservation-form label {
  display: block;
  margin: 10px 10px;
  font-weight: 700;
  color: var(--text-muted);
}
.reservation-form input[type="date"],
.reservation-form select {
  width: 100%;
  padding: 10px 10px;
  margin-top: 5px;
  border: 3px solid var(--accent-primary);
  border-radius: 4px;
  font-size: 14px;
}

.reservation-item {
  margin: 15px 15px;
}

.reservation-item button {
  margin: 0px 20px;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 5px;
  background-color: var(--accent-primary);
  color: var(--bg-main);
  transition: transform 0.5s ease-in-out;
}
.reservation-item button:hover {
  transform: scale(1.1);
  box-shadow: 3px 0px 6px var(--accent-primary);
}
.reservation-item > h1 {
  font-weight: 300;
  margin: 15px 15px;
  margin-bottom: 15px;
  color: var(--bg-main);
}

/* FLEXBOX flex-carousel-title =========================*/
.flex-carousel-title {
  display: flex;
  justify-content: center;
  color: var(--accent-primary);
}
.flex-carousel-title > h1 {
  transition: transform 0.5s ease-in-out;
  animation: fadeIn 4s ease-in-out;
}
.flex-carousel-title > h1:hover {
  transform: scale(1.1);
}
/* FLEXBOX flex-carousel =========================*/

.flex-carousel {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  gap: 2em;
  margin: 3em;
}

.carousel-card > img {
  flex: 0 0 20em;
  height: 12em;
  text-align: center;
  align-content: center;
  box-shadow: 1px 0px 6px var(--text-primary);
  background-color: var(--bg-secondary);
  animation: fadeIn 2s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.carousel-card > img:hover {
  transform: scale(1.1);
  box-shadow: 1px 0px 6px var(--text-primary);
}

.carousel-card > p {
  background-color: var(--accent-primary);
  color: #4a4239;
  font-weight: 500;
  padding: 3px 10px;
}

/* FLEXBOX flex-carousel-button =========================*/
.flex-carousel-button {
  display: flex;
  justify-content: center;
}

.carousel-button button {
  margin: 0px 20px;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 25px;
  background-color: var(--text-primary);
  color: var(--bg-main);
  transition: transform 0.5s ease-in-out;
}
.carousel-button button:hover {
  transform: scale(1.1);
  box-shadow: 1px 0px 6px var(--text-primary);
}

/* FLEXBOX   footer  =========================*/

.footer {
  display: flex;
  justify-content: end;

  padding: 5px 5px;
  background-color: var(--text-primary);
}
.footer-list {
  margin: 15px 25px;
  padding: 5px 5px;
}
.footer-logo img {
  height: 200px;
}
.footer-item h2 {
  font-weight: 500;
  font-size: 20px;
  color: var(--bg-main);
}
.footer-item > li {
  margin: 10px 10px;
  color: var(--bg-main);
}

.footer-item a {
  color: var(--bg-main);
}
.footer-item a:hover {
  color: var(--accent-primary);
}
.footer-icons {
  display: flex;
  gap: 10px;
}
.footer-icons img {
  height: 30px;
  transition: transform 0.5s ease-in-out;
}
.footer-icons img:hover {
  height: 30px;
  transform: scale(1.5);
  box-shadow: 3px 0px 6px var(--accent-primary);
  border-radius: 50%;
}

/* FLEXBOX   header-bottom  =========================*/
.header-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  padding: 0px 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--accent-primary);
   height: 85px;
  width: 100%;
  padding-bottom: 15px 15px;
}
.outter-bottom {
  display: flex;
  flex-wrap: wrap;
  color: var(--bg-main);
}
.outter-bottom > img {
  margin-right: 5px;
  height: 20px;
  border-radius: 50%;
}
.outter-bottom a {
  color: var(--bg-main);
}
.inner-bottom {
  display: flex;
  flex-wrap: wrap;
}
.inner-bottom-item {
  display: flex;
  margin: 0px 10px;
  color: var(--bg-main);
}
.inner-bottom-item > img {
  margin-right: 5px;
  height: 20px;
  border-radius: 50%;
}

/* KEYFRAMES*/

@keyframes myAnimation {
  from {
    right: 200px;
  }
  to {
    left: 200px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MEDIA QUERY */

@media (max-width: 600px) {
  .header-top {
    height: 75px;
  }
  .flex-nav {
    margin-top: 75px;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    padding-top: 60px;
    cursor: pointer;
    z-index: 1;
  }
}

@media (max-width: 961px) {
  .inner-nav-item {
    text-align: center;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .inner-nav {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--accent-primary);
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  #menu__toggle {
    opacity: 0;
  }
  .inner-nav {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: var(--accent-primary);
    box-shadow: 1px 0px 6px var(--text-primary);
    transition-duration: 0.25s;
  }

  .grid-hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    place-content: center;
    margin-top: 100px;
  }
  .hero-item .hero-image-1 {
    width: 100%;
  }
  .flex-carousel {
    display: flex;
    flex-direction: column;
    place-content: center;

    gap: 2em;
    margin: 3em;
  }

  .carousel-card > img {
    width: 100%;
  }

  .header-bottom {
    padding-bottom: 55px;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: column;

    padding: 10px 10px;
    background-color: var(--text-primary);
  }
  .footer-list {
    margin: 10px 10px;
    padding: 5px 5px;
  }
}

